.Wrapper {
  position: fixed;
  background: rgb(99, 99, 99, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Modal {
  width: 500px;
  height: 400px;
  padding: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.Text {
  width: 380px;
}
